<template name="serversItem">

	<tr>
		<td>{{fqdn}} | {{serversLocation location}}</td>
		<td>{{#with cpu}}{{cores}}&times; {{speed}} GHz ({{type}}){{/with}}</td>
		<td>{{ram}}GB</td>
		<td>
			<ol>
				{{#each hdd}}
					<li>{{this}}</li>
				{{/each}}
			</ol>
		</td>
		<td>
			<div class="btn-group">
				<button id="{{_id}}" class="change btn btn-small"><i class="icon-edit"></i> Change</button>
				<button id="{{_id}}" class="delete btn btn-small"><i class="icon-remove-sign"></i> Delete</button>
		</td>
	</tr>

</template>

