<template name="serversDetails">

	<h1>Server Details <small>... view and change details of this server.</small></h1>

	<form class="form form-horizontal">
		<legend>{{fqdn}}</legend>

		<div class="control-group">
			<label class="control-label" for="inputLocation">Location</label>
			<div class="controls">
				<input type="text" id="inputLocation" placeholder="Location" value="{{location}}">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="inputRam">RAM</label>
			<div class="controls">
				<input type="text" id="inputRam" placeholder="RAM" value="{{ram}}">
			</div>
		</div>

		{{#with cpu}}
		<div class="control-group">
			<label class="control-label" for="inputCpuCores">CPU cores</label>
			<div class="controls">
				<input type="text" id="inputCpuCores" placeholder="CPU cores" value="{{cores}}">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputCpuSpeed">CPU speed</label>
			<div class="controls">
				<input type="text" id="inputCpuSpeed" placeholder="CPU speed" value="{{speed}}">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputCpuType">CPU type</label>
			<div class="controls">
				<input type="text" id="inputCpuType" placeholder="CPU type" value="{{type}}">
			</div>
		</div>
		{{/with}}

		<div class="form-actions">
			<button type="button" class="save btn btn-primary">Save changes</button>
			<button type="button" class="cancel btn">Cancel</button>
		</div>

	</form>

</template>
